html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #222831;
}

h1 {
  font-family: 'Sixtyfour', sans-serif;
  color: #7bc74d;
  font-size: 1.5rem;
}

label {
  color: #7bc74d;
}

textarea {
  resize: none;
}

main {
  margin: 1.5em;
}

footer {
  color: #eeeeee;
}

a {
  text-decoration: none;
}

.form-control {
  color: #7bc74d;
  background-color: #393e46;
  border: solid 1px #222831;
  transition: linear 0.3s;
}

.form-control:focus {
  color: #eeeeee;
  background-color: #222831;
  border: solid 1px #7bc74d;
  box-shadow: none;
}

.form-control:disabled {
  background-color: #656a72;
}

.form-control::placeholder {
  color: #eeeeee;
  opacity: 0.5;
}

.input-group {
  width: 50%;
}

#addon-wrapping {
  background-color: #222831;
  border: none;
}

.bi {
  font-size: 1.2em;
  color: #eeeeee;
}

.btn {
  background-color: #7bc74d;
  color: #222831;
  transition: linear 0.3s;
}

.btn:hover {
  background-color: #6bac43;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.3rem;
  }

  code {
    font-size: 0.7rem;
  }

  textarea {
    height: 8em;
  }

  main {
    margin: 2em;
  }

  main button {
    margin-top: 10em;
  }

  footer {
    margin: 1em;
  }

  .d-flex {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }
}
